<h1>제목</h1>
{{ blog_detail.title }}

<h2>날짜</h2>
{{ blog_detail.date }}

<h3>본문</h3>
{{ blog_detail.body }}

<h3>본문에 추가된 첨부파일</h3>
{% if blog_detail.photo %}
    <!-- 사진 찍어주기 -->
    {{ blog_detail.photo.url }}
    <img src = "{{ blog_detail.photo.url }}" alt="" height="600">
{% endif %}

<hr>
<h3>댓글</h3>
<form method="POST" action="{% url 'create_comment' blog_detail.id %}">
    {% csrf_token %}
    {{ comment_form }}
    <input type="submit">
</form>
<hr>
<!-- 댓글 목록들 -->
{% for comment in blog_detail.comment_set.all %}
<p>{{ comment }}</p>
<hr>
{% endfor %}